.index-header--title {
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    color: #009900;
}

.logo {
    width: 80%;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

horizontal-menu {
    width: 200px;
}

.horizontal-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    margin-top: 15px;
    padding-left: 10px;
    border-right: 2px solid black;
}

.horizontal-menu a:hover {
    background-color: #ccc;
}

a.horizontal-menu{
    background-color: #4CAF50;
    color: white;
}

.row {
    width: 100%;
}

.ten-column {
    height: 70%,
    margin-right: 0;
    position: absolute;
}

.page-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}


