body {
    font-family: arial;
    font-weight: bold;
    background-image: url("background_image.jpg");
}
.app-content {
    font-size: 16px;
    color: black;
    text-align: justify;
    float: left;
    padding-left: 5px;
    border: 3px solid black;
    margin-left: 10px;
    padding-right: 5px;
    margin-top: 30px;

}
.page-information P{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    font-size: 18px;
    color: black;
}

